.header__content {
    height: 81px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgb(255 255 255 / 5%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: auto;
    padding: 0 40px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.logo__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 65px;
}
.home-navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.home-navigation__item {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0;
    text-align: center;
    color: white;
}
.home-navigation__link:hover {
    display: block;
    transform: scale(1.03);
    opacity: 0.7;
}
.header__language {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header__language-button {
    width: 30px;
    height: 30px;
    background: inherit;
    background: none;
}
.header__language-button:hover {
    display: block;
    transform: scale(1.03);
    opacity: 0.7;
}
/* POPUP language */
.header-language-popup {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgb(255 255 255 / 5%);
    position: absolute;
    top: 30px;
}
.header-language-popup__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.header-language-popup__button {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0;
    text-align: center;
    color: white;
}
.header-language-popup__button:hover {
    opacity: 0.7;
}
.header-language-popup__button--active {
    color: black;
}
/* POPUP */
.header__registration-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header__registration-signin {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0;
    text-align: center;
    color: white;
}
.header__registration-signin:hover {
    display: block;
    transform: scale(1.03);
    opacity: 0.7;
}
.header__registration-start {
    width: 145px;
    height: 41px;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 1, 5, 0.8) 0%,rgba(0, 18, 196, 0.9) 60%,rgba(48, 177, 236, 1) 100%);
    gap: 5px;
}
.header__registration-start:hover {
    transform: scale(1.03);
    opacity: 0.7;
}
.header__registration-start-icon {
    width: 20px;
    height: 20px;
}
/* POPUP SignUP */
.header-registration-singup-popup {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    background: linear-gradient(rgba(0, 1, 5, 1) 0%,rgba(0, 18, 196, 1) 60%,rgba(48, 177, 236, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 100;
    display: none;

}
.header-registration-popup__img-block {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-registration-popup__img {
    width: 600px;
    height: 600px;
    border-radius: 50px;
}
.header-registration-popup__info-section {
    width: 50%;
    height: 100%;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 36px;
    border-radius: 50px 0 0 50px;
    background: rgba(255, 255, 255, 0.6);
}
.header-registration-popup__text-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 9px;
}
.header-registration-popup__title {
    width: 300px;
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0;
    text-align: center;
}
.header-registration-popup__subtitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
}
.header-registration-popup__form {
    background: white;
    border-radius: 50px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.header-registration-popup__label {
    width: 280px;
    height: 40px;
    background: linear-gradient(90deg, rgba(106, 255, 220, 0.2) 0%, rgba(0, 60, 255, 0.2) 100%);
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 50px;
}
.header-registration-popup__input {
    width: 100%;
    margin: 0 10px;
    background: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600; 
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left; 
    color: black;
}
.header-registration-popup__input::placeholder {
    color: rgba(0, 60, 255, 1);
}
.header-registration-popup__submit {
    background: linear-gradient(rgba(0, 1, 5, 0.8) 0%,rgba(0, 18, 196, 0.9) 60%,rgba(48, 177, 236, 1) 100%);
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: normal; 
    letter-spacing: 0px;
    text-align: center;
}
.header-registration-popup__submit:hover {
    transform: scale(1.03);
    opacity: 0.7;
}
.header-registration-signup-popup__have-account, .header-registration-signin-popup__donothave-account {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: normal; 
    letter-spacing: 0px;
    text-align: center; 
    display: flex;
    align-items: center;
    color: black;
    gap: 5px;
}
.header-registration-signup-popup__have-account-link, .header-registration-signin-popup__donothave-account-link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600; 
    font-size: 12px;
    line-height: normal; 
    letter-spacing: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 60, 255, 1);
}
.header-registration-signup-popup__have-account-link:hover, .header-registration-signin-popup__donothave-account-link:hover {
    transform: scale(1.03);
    opacity: 0.7;
}
.header-registration-signup-popup__have-account-arrow, .header-registration-signin-popup__donothave-account-arrow {
    width: 20px;
    height: 20px;
}
/* POPUP SignUP */

/* POPUP SignIN */
.header-registration-singin-popup {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    background: linear-gradient(rgba(0, 1, 5, 1) 0%,rgba(0, 18, 196, 1) 60%,rgba(48, 177, 236, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: none;
}