/* POPUP */
.user-info {
    width: 350px;
    background: linear-gradient(rgba(0, 1, 5, 1) 0%, rgba(0, 18, 196, 1) 60%, rgba(48, 177, 236, 1) 100%);
    position: absolute;
    top: 60px;
    right: -40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    border-radius: 50px;
    z-index: 100;
}

.user-info__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.user-info__group {
    width: 100%;
    padding: 40px 0;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.6);
}

.user-info__username {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: normal;
    color: black;
}

.user-info__button-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: none;
    background: none;
}

.user-info__button-close-icon {
    width: 20px;
    height: 20px;
}

.user-info__button-close:hover {
    transform: scale(1.03);
    opacity: 0.7;
}
.user-info__button-edit {
    position: absolute;
    top: -30px;
    right: 50px;
    background-color: none;
    background: none;
}
.user-info__button-edit-icon {
    width: 20px;
    height: 20px;
}
.user-info__button-edit-icon:hover {
    transform: scale(1.03);
    opacity: 0.7;
}
.user-info__language, .user-info__days-learning {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: normal;
    color: black;
}
.user-info__button-logout {
    font-family: 'Inter', sans-serif;
    font-weight: 900;         
    font-size: 14px;
    letter-spacing: 0px;      
    line-height: normal;       
    text-align: center;  
    vertical-align: middle;
    color: white;
    padding: 5px 10px;
    box-sizing: border-box;
    border: rgba(0, 18, 196, 1) 4px solid;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    background: none;
}
.user-info__button-logout:hover {
    transform: scale(1.03);
    background-color: rgba(0, 18, 196, 1);
}

.user-info__user-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

/* ----------------EDIT FORM----------------------- */

.user-info__edit-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: none;
}
.user-info__label {
    width: 280px;
    height: 40px;
    background: linear-gradient(90deg, rgba(106, 255, 220, 0.2) 0%, rgba(0, 60, 255, 0.2) 100%);
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 50px;
}
.user-info__input {
    width: 100%;
    margin: 0 10px;
    background: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: black;
}
.user-info__input::placeholder {
    color: black;
}
.user-info__buttons-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.user-info__submit {
    background: linear-gradient(rgba(0, 1, 5, 0.8) 0%, rgba(0, 18, 196, 0.9) 60%, rgba(48, 177, 236, 1) 100%);
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
}
.user-info__button-cancel {
    background: linear-gradient(rgba(0, 1, 5, 0.8) 0%, rgba(0, 18, 196, 0.9) 60%, rgba(48, 177, 236, 1) 100%);
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
}
.user-info__button-cancel:hover, .user-info__submit:hover {
    transform: scale(1.03);
    opacity: 0.7;
}
/* ---------------------Avatars-------------------- */
.user-info__avatars-section {
    width: 280px;
    background: linear-gradient(90deg, rgba(106, 255, 220, 0.2) 0%, rgba(0, 60, 255, 0.2) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    padding: 10px;
}
.user-info__avatars-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: black;
    margin-bottom: 8px;
}

.user-info__avatars-grid {
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.user-info__avatar-option {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: transform 0.2s ease, border-color 0.2s ease;
    object-fit: cover;
}

.user-info__avatar-option:hover {
    transform: scale(1.1);
}

.user-info__avatar-option.active {
    border-color: #4CAF50; /* Зелена рамка для виділення активної аватарки */
    transform: scale(1.05);
}

/* -----------end------------ */


/* |----------------------------------------CALENDAR--------------------------------------------| */

.calendar {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(rgba(0, 1, 5, 1) 0%,rgba(0, 18, 196, 1) 60%,rgba(48, 177, 236, 1) 100%);
    border-radius: 50px;
}
.clendar__title {
    font-family: 'Inter', sans-serif;
    font-style: italic; 
    font-weight: 900; 
    font-size: 45px;
    line-height: normal; 
    letter-spacing: 0px;
    text-align: center;
}
.calendar__date-group {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 20px;
}
.calendar__element {
    width: 858px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgb(255 255 255 / 5%);
    border-radius: 20px;
}
.calendar__element-date {
    font-family: 'Inter', sans-serif;
    font-weight: 900;         
    font-size: 14px;
    letter-spacing: 0px;      
    line-height: normal;       
    text-align: center;  
    vertical-align: middle;
}
.calendar__element-language-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.calendar__element-language-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.calendar__element-language-name {
    font-family: 'Inter', sans-serif;
    font-weight: 900;         
    font-size: 14px;
    letter-spacing: 0px;      
    line-height: normal;       
    text-align: center;  
    vertical-align: middle;
}
.calendar__element-words {
    font-family: 'Inter', sans-serif;
    font-weight: 900;         
    font-size: 14px;
    letter-spacing: 0px;      
    line-height: normal;       
    text-align: center;  
    vertical-align: middle;
}
.calendar__element-repeat {
    font-family: 'Inter', sans-serif;
    font-weight: 900;         
    font-size: 14px;
    letter-spacing: 0px;      
    line-height: normal;       
    text-align: center;  
    vertical-align: middle;
    color: white;
    width: 70px;
    height: 30px;
    box-sizing: border-box;
    border: rgba(0, 18, 196, 1) 4px solid;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar__element-repeat:hover {
    transform: scale(1.03);
    opacity: 0.7;
}

/* |----------------------------------------YOUR-LANGUAGES--------------------------------------------| */

.your-languages {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(rgba(0, 1, 5, 1) 0%,rgba(0, 18, 196, 1) 60%,rgba(48, 177, 236, 1) 100%);
    border-radius: 50px;
}
.your-languages__title {
    font-family: 'Inter', sans-serif;
    font-style: italic; 
    font-weight: 900; 
    font-size: 45px;
    line-height: normal; 
    letter-spacing: 0px;
    text-align: center;
}
.your-languages__language-group {
    width: 858px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 20px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgb(255 255 255 / 5%);
    border-radius: 20px;
    position: relative;
}
.your-languages__language-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 700px;
}
.your-languages__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.your-languages__item-link:hover {
    transform: scale(1.04);
}
.your-languages__item-flag {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.your-languages__item-title {
    font-family: 'Inter', sans-serif;
    font-weight: 900;         
    font-size: 20px;
    letter-spacing: 0px;      
    line-height: normal;       
    text-align: center;  
    vertical-align: middle;
    color: black;
}
.your-languages__language-addbutton {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(rgba(0, 1, 5, 1) 0%,rgba(0, 18, 196, 1) 60%,rgba(48, 177, 236, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.your-languages__language-button-icon {
    width: 50px;
    height: 50px;
}
.your-languages__language-addbutton:hover {
    transform: scale(1.03);
    opacity: 0.7;
}

/* |----------------------------------------YourLanguagesPopUp--------------------------------------------| */

.your-languages__add-language-form {
    bottom: -50px;
    z-index: 100;
    width: 200px;
    height: 150px;
    background: linear-gradient(rgba(0, 1, 5, 1) 0%, rgba(0, 18, 196, 1) 30%, rgba(48, 177, 236, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    border-radius: 50px;
}
.your-languages__label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: white;
}
.your-language-popup__input {
    width: 150px;
    background: rgba(255, 255, 255, 0.6);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: rgb(255, 255, 255);  
    border-radius: 50px;
    padding: 5px 10px;
}
.your-language-popup__input::placeholder {
    color: rgb(255, 255, 255);
}
.your-languages__buttons-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.your-languages__submit {
    background: linear-gradient(rgba(0, 1, 5, 0.8) 0%, rgba(0, 18, 196, 0.9) 60%, rgba(48, 177, 236, 1) 100%);
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
}
.your-languages__button-cancel {
    background: linear-gradient(rgba(0, 1, 5, 0.8) 0%, rgba(0, 18, 196, 0.9) 60%, rgba(48, 177, 236, 1) 100%);
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
}
.your-languages__button-cancel:hover, .your-languages__submit:hover {
    transform: scale(1.03);
    opacity: 0.7;
}

/* |----------------------------------------WEBSITES--------------------------------------------| */

.websites {
    padding: 30px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(rgba(0, 1, 5, 1) 0%,rgba(0, 18, 196, 1) 60%,rgba(48, 177, 236, 1) 100%);
    border-radius: 50px;
    position: relative;
}
.websites__title {
    font-family: 'Inter', sans-serif;
    font-style: italic; 
    font-weight: 900; 
    font-size: 45px;
    line-height: normal; 
    letter-spacing: 0px;
    text-align: center;
}
.websites__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.websites__item {
    border: white 1px solid;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.websites__logo-img {
    width: 46px;
    height: 46px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.websites__name {
    font-family: "Audiowide", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: normal; 
    letter-spacing: 0px;
    text-align: center;
    color: white;
}
.websites__link {
    font-family: "Audiowide", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: normal; 
    letter-spacing: 0px;
    text-align: center;
    color: rgba(0, 133, 234, 1);
}
.websites__link:hover {
    transform: scale(1.03);
    color: rgb(126, 126, 255);
}
.websites__mascot {
    position: absolute;
    top: 100px;
    left: -185px;
    z-index: 100;
}